@import "../colors.css";

.edicaoContent {
  position: absolute;
  width: 60vw;
  height: 70vh;
  left: 35vw;
  top: 22.5vh;
  padding: 0 25px;
  padding-top: 15px;

  background: var(--elements);
  border-radius: 15px;
}

.cargoGroup {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.criarTitle {
  position: relative;
  width: 40vw;
  height: 2rem;

  font-family: "Glory", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;

  color: var(--text);
}

.nomeLabel {
  position: relative;
  display: block;

  font-family: "Glory", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.inputSetor {
  position: relative;
  height: 5vh;
  display: block;

  background: var(--nestedElements);
  color: var(--background);
  font-weight: bold;

  border-radius: 5px;
}

.cargoLabel {
  position: relative;
  display: block;

  font-family: "Glory", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.inputCargo {
  position: relative;
  width: 45vw;
  height: 5vh;

  background: var(--nestedElements);
  color: var(--background);
  font-weight: bold;

  border-radius: 5px;
}

.adicionarButton {
  position: relative;
  width: 9vw;
  height: 5vh;
  margin-top: 5vh;

  font-family: "Glory", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;

  background-color: var(--background);
  color: var(--text);

  border-radius: 5px;
  border: none;
}

.adicionarButton:hover {
  background-color: var(--nestedElements);
  color: var(--background);
}

.salvarButton {
  position: relative;
  float: right;
  width: 9vw;
  height: 6vh;
  display: block;

  font-weight: bold;

  background-color: var(--background);
  color: var(--text);

  border-radius: 5px;
  border: none;
}

.salvarButton:hover {
  background-color: var(--nestedElements);
  color: var(--background);
}

.ant-form-item-label > label {
  color: var(--text);
  font-weight: bold;
}

.saveDiv {
  row-gap: 0px;
  /* position: relative; */
  position: absolute;
  bottom: 0;
  right: 25px;
}

.ant-input::placeholder {
  color: var(--background);
  opacity: 0.4;
}
